Repository bryanltobing/next-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,css,json}": "prettier --write",
  "*.{ts,tsx}": ["eslint --fix", "prettier --write"]
}

feat: add zod to validate environment variables
  .env.example
  .eslintrc.json
  .lintstagedrc.json
  README.md
  package.json
  pages/index.tsx
  pnpm-lock.yaml
  src/Definitions/env.ts
  src/Definitions/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix

feat: add zod to validate environment variables (#5)
  .env.example
  .eslintrc.json
  .lintstagedrc.json
  README.md
  package.json
  pages/index.tsx
  pnpm-lock.yaml
  src/Definitions/env.ts
  src/Definitions/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix

feat: redux and redux toolkit
  README.md
  package.json
  pages/_app.tsx
  pages/index.tsx
  pnpm-lock.yaml
  src/Definitions/constants.ts
  src/Definitions/index.ts
  src/Hooks/index.ts
  src/Hooks/useAppDispatch.ts
  src/Hooks/useAppSelector.ts
  src/Redux/Modules/Post/index.ts
  src/Redux/Modules/Post/post.api.ts
  src/Redux/Modules/Post/post.d.ts
  src/Redux/Modules/index.ts
  src/Redux/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix

feat: redux and redux toolkit (#6)
  README.md
  package.json
  pages/_app.tsx
  pages/index.tsx
  pnpm-lock.yaml
  src/Definitions/constants.ts
  src/Definitions/index.ts
  src/Hooks/index.ts
  src/Hooks/useAppDispatch.ts
  src/Hooks/useAppSelector.ts
  src/Redux/Modules/Post/index.ts
  src/Redux/Modules/Post/post.api.ts
  src/Redux/Modules/Post/post.d.ts
  src/Redux/Modules/index.ts
  src/Redux/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix

fix: remove all manually added peers and set pnpm configuration to automatically install peers
  .npmrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: package-manager-setup (#7)
  .npmrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: material config and setup
  .eslintrc.json
  README.md
  package.json
  pages/_app.tsx
  pages/_document.tsx
  pages/index.tsx
  pnpm-lock.yaml
  src/Definitions/createEmotionCache.ts
  src/Definitions/index.ts
  src/Definitions/theme.ts
  src/Redux/index.ts
  styles/Home.module.css
  styles/globals.css
Due: prettier --write, eslint --fix

feat: material config and setup (#8)
  .eslintrc.json
  README.md
  package.json
  pages/_app.tsx
  pages/_document.tsx
  pages/index.tsx
  pnpm-lock.yaml
  src/Definitions/createEmotionCache.ts
  src/Definitions/index.ts
  src/Definitions/theme.ts
  src/Redux/index.ts
  styles/Home.module.css
  styles/globals.css
Due: prettier --write, eslint --fix

feat: cypress setup
  .eslintrc.json
  .gitignore
  cypress.config.ts
  cypress/e2e/spec.cy.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: temporary for type isolatedModules issue
  README.md
  cypress/e2e/spec.cy.ts
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

feat: cypress with type error temp workaround (#10)
  .eslintrc.json
  .gitignore
  README.md
  cypress.config.ts
  cypress/e2e/spec.cy.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: post details page
  pages/posts/[id].tsx
  src/Redux/Modules/Post/post.api.ts
  src/Redux/Modules/Post/post.d.ts
Due: prettier --write, eslint --fix

feat: setup i18n
  .prettierrc.json
  README.md
  next.config.js
  pages/index.tsx
  pages/posts/[id].tsx
  pnpm-lock.yaml
  src/Definitions/Locales/en.ts
  src/Definitions/Locales/id.ts
  src/Definitions/Locales/index.ts
  src/Definitions/index.ts
  src/Hooks/index.ts
  src/Hooks/useTranslation.ts
Due: prettier --write, eslint --fix

feat: setup i18n (#11)
  .prettierrc.json
  README.md
  next.config.js
  pages/posts/[id].tsx
  pnpm-lock.yaml
  src/Definitions/Locales/en.ts
  src/Definitions/Locales/id.ts
  src/Definitions/Locales/index.ts
  src/Definitions/index.ts
  src/Hooks/index.ts
  src/Hooks/useTranslation.ts
  src/Redux/Modules/Post/post.api.ts
  src/Redux/Modules/Post/post.d.ts
Due: prettier --write, eslint --fix

chore: lock all package version
  package.json
Due: prettier --write

chore: update lock file
  pnpm-lock.yaml
Due: none
